<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="description" content="Cario Fashion Store">
   <meta name="keywords" content="Cario, fashion, clothing, shop">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Cario</title>


   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet">


   <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
   <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
   <!-- <link rel="stylesheet" href="/user-assets/css/maind134.css" type="text/css"> -->

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

   <style>
      .header {
         position: sticky;
         top: 0;
         z-index: 999;
         background-color: #fff;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
         width: 100%;
      }


      .header__logo {
         padding: 20px 0;
      }

      .header__logo a {
         display: inline-block;
      }

      .logo {
         width: 150px;
         height: auto;
         object-fit: contain;
      }


      .container-head {
         padding-left: 30px;
         padding-right: 30px;
         margin: 0 auto;
      }

      .row {
         display: flex;
         align-items: center;
         margin-left: 0 !important;
         margin-right: 0 !important;
      }

      /* Menu Styles */
      .header__menu {
         text-align: center;
         padding: 10px 0;
      }

      .header__menu ul {
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: center;
      }

      .header__menu ul li {
         list-style: none;
         display: inline-block;
         margin-right: 45px;
         position: relative;
      }

      .header__menu ul li:last-child {
         margin-right: 0;
      }

      .header__menu ul li a {
         font-size: 18px;
         color: #111111;
         display: block;
         font-weight: 600;
         position: relative;
         padding: 3px 0;
         text-decoration: none;
      }

      .header__menu ul li a:after {
         position: absolute;
         left: 0;
         bottom: -3px;
         width: 100%;
         height: 2px;
         background: #e53637;
         content: "";
         transition: all 0.3s;
         transform: scale(0);
      }

      .header__menu ul li.active a:after,
      .header__menu ul li:hover a:after {
         transform: scale(1);
      }


      .header__nav__option {
         text-align: right;
         padding: 10px 0;
         display: flex;
         justify-content: flex-end;
         align-items: center;
      }

      .header__nav__option a {
         display: inline-block;
         margin-right: 15px;
         position: relative;
      }

      .header__nav__option a:last-child {
         margin-right: 0;
      }

      .header__nav__option a span {
         color: #0d0d0d;
         font-size: 11px;
         position: absolute;
         left: 5px;
         top: 8px;
      }

      .header__nav__option .sign-in-link {
         font-size: 16px;
         color: #333;
         margin-right: 40px;
         text-decoration: none;
         font-weight: 600;
      }

      .header__nav__option .sign-in-link:hover {
         color: #ff7f50;
      }

      .header__nav__option .icon-link {
         display: inline-flex;
         align-items: center;
         justify-content: center;
      }

      .header__nav__option .icon-link img {
         display: block;
         width: 20px;
         height: 20px;
      }


      .user-name {
         margin-right: 15px;
      }

      .dropdown {
         position: relative;
         display: inline-block;
      }

      .dropdown-content {
         display: none;
         position: absolute;
         background-color: white;
         min-width: 160px;
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
         z-index: 1000;
         right: 0;
      }

      .dropdown-content a {
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         width: 100%;
         text-align: left;
         margin: 0;
      }

      .dropdown-content a:hover {
         background-color: #f1f1f1;
      }

      .dropdown:hover .dropdown-content {
         display: block;
      }

      .canvas__open {
         display: none;
      }

      @media (max-width: 991px) {
         .header__menu {
            display: none;
         }

         .canvas__open {
            display: block;
            font-size: 22px;
            color: #111;
            cursor: pointer;
         }
      }
   </style>
</head>

<body>
   <header class="header">
      <div class="container-head">
         <div class="row">

            <div class="col-lg-3 col-md-3">
               <div class="header__logo">
                  <a href="/"><img class="logo" src="/img/logo.png" alt="Cario Logo"></a>
               </div>
            </div>

            <div class="col-lg-6 col-md-6">
               <nav class="header__menu mobile-menu">
                  <ul>
                     <li class="active"><a href="/">Home</a></li>
                     <li id="shop"><a href="/shop">Shop</a></li>
                  </ul>
               </nav>
            </div>

            <div class="col-lg-3 col-md-3">
               <div class="header__nav__option">
                  <%if(user){%>
                     <div class="dropdown">
                        <a href="#" class="sign-in-link">
                           <%= user.username %>
                        </a>
                        <div class="dropdown-content">
                           <a href="/userProfile">Profile</a>
                           <a href="/logout">Logout</a>
                        </div>
                     </div>
                     <%} else {%>
                        <a href="/signup" class="sign-in-link">Sign Up</a>
                        <a href="/login" class="sign-in-link">Log in</a>
                        <%}%>
                           <a href="/wishlist" class="icon-link"><img src="/img/icon/heart.png" alt="Wishlist"></a>
                           <a href="/cart" class="icon-link"><img src="/img/icon/cart.png" alt="Cart">
                              <span>0</span></a>
               </div>
            </div>
         </div>

         <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
   </header>

   <script>
      window.addEventListener("DOMContentLoaded", function () {
         const currentPath = window.location.pathname;
         const menuItems = document.querySelectorAll(".header__menu ul li");
         menuItems.forEach(item => item.classList.remove("active"));
         let matchFound = false;
         menuItems.forEach(li => {
            const link = li.querySelector("a");
            if (link && !matchFound) {
               const href = link.getAttribute("href");
               if (href === "/" && currentPath === "/") {
                  li.classList.add("active");
                  matchFound = true;
               }
               else if (href !== "/" && currentPath.startsWith(href)) {
                  li.classList.add("active");
                  matchFound = true;
               }
            }
         });
      });
   </script>
</body>

</html>